<ion-view view-title="Home">

<ion-nav-bar class="bar-dark">
    

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
        <ion-nav-buttons side="right">
         
        </ion-nav-buttons>

    </ion-nav-bar>

      <ion-tabs >

        <ion-tab title="1º Dia">
        <ion-content>
          <ion-nav-view name="dia1-tab" class="nav-view-agenda">

          	<div class="list list-inset">
			<div class="item" ng-repeat="evento in agendaDia1">
			 	
                        <div style="font-size: 12px;" class="label label-info">{{evento.hora}}</div>
                        <div style="padding-top: 5px; "  class="item item-text-wrap">
                            <strong>{{evento.titulo}}</strong>
                        </div>
                        <div style="width:100%"  class="item item-text-wrap"><p style="word-wrap:break-word;dislay:block" ng-bind-html="evento.conteudo"></p></div>
             </div>
			</div>
      		</ion-nav-view>
          </ion-content>
        </ion-tab>

        <ion-tab title="2º Dia">
        <ion-content>
          <ion-nav-view name="dia2-tab" class="nav-view-agenda">
          
          	<div class="list list-inset">
			<div class="item" ng-repeat="evento in agendaDia2">
			 	
                        <div style="font-size: 12px;" class="label label-info">{{evento.hora}}</div>
                        <div style="padding-top: 5px; "  class="item item-text-wrap">
                            <strong>{{evento.titulo}}</strong>
                        </div>
                        <div style="width:100%"  class="item item-text-wrap"><p style="word-wrap:break-word;dislay:block" ng-bind-html="evento.conteudo"></p></div>
             </div>
			</div>
      </ion-nav-view>
          </ion-content>
        </ion-tab>

               

      </ion-tabs>
   

	

	
</ion-view>
