<ion-view view-title="Restaurantes">

  <br> <br>
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-icon buttonq-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <ion-list>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <ion-thumbnail item-start>
                  <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante1.png">
                </ion-thumbnail>
            </div>
            <div class="col">
              <h2 class="NomeRestaurante">Monte Alegre (Self-Service)</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">R. Monte Alegre, 117</p>
              <!--<button ion-button clear item-end>Consultar</button>-->
            </div>
          </div>
        </ion-item>
      </div>

      <div class="itemArtigo itemPalestrante">
          <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
            <div class="row">
              <div class="col col-70">
                <ion-thumbnail item-start>
                  <ion-thumbnail item-start>
                    <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante2.png">
                  </ion-thumbnail>
              </div>
              <div class="col">
                <h2 class="NomeRestaurante">Natural Flor de Liz (Self-Service)</h2>
                <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">R. Cândido Espinheira, 643</p>
                <!--<button ion-button clear item-end>Consultar</button>-->
              </div>
            </div>
          </ion-item>
        </div>
  
        <div class="itemArtigo itemPalestrante">
            <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
              <div class="row">
                <div class="col col-70">
                  <ion-thumbnail item-start>
                    <ion-thumbnail item-start>
                      <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante3.png">
                    </ion-thumbnail>
                </div>
                <div class="col">
                  <h2 class="NomeRestaurante">China Plaza</h2>
                  <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">R. Cândido Espinheira, 648</p>
                  <!--<button ion-button clear item-end>Consultar</button>-->
                </div>
              </div>
            </ion-item>
          </div>
      
          <div class="itemArtigo itemPalestrante">
              <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
                <div class="row">
                  <div class="col col-70">
                    <ion-thumbnail item-start>
                      <ion-thumbnail item-start>
                        <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante4.png">
                      </ion-thumbnail>
                  </div>
                  <div class="col">
                    <h2 class="NomeRestaurante">Ponto Chic (Self-Service)</h2>
                    <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">Largo Pe. Pericles, 139</p>
                    <!--<button ion-button clear item-end>Consultar</button>-->
                  </div>
                </div>
              </ion-item>
            </div>

            <div class="itemArtigo itemPalestrante">
                <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
                  <div class="row">
                    <div class="col col-70">
                      <ion-thumbnail item-start>
                        <ion-thumbnail item-start>
                          <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante5.png">
                        </ion-thumbnail>
                    </div>
                    <div class="col">
                      <h2 class="NomeRestaurante">Supermercado SONDA</h2>
                      <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">Francisco Matarazzo, 892</p>
                      <!--<button ion-button clear item-end>Consultar</button>-->
                    </div>
                  </div>
                </ion-item>
              </div>

              <div class="itemArtigo itemPalestrante">
                  <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
                    <div class="row">
                      <div class="col col-70">
                        <ion-thumbnail item-start>
                          <ion-thumbnail item-start>
                            <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante6.png">
                          </ion-thumbnail>
                      </div>
                      <div class="col">
                        <h2 class="NomeRestaurante">Shopping West Plaza</h2>
                        <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">Av. Antártica, 380</p>
                        <!--<button ion-button clear item-end>Consultar</button>-->
                      </div>
                    </div>
                  </ion-item>
                </div>
    </ion-list>

  </ion-content>

  <script src="build/polyfills.js"></script>

  <!-- The vendor js is generated during the build process
       It contains all of the dependencies in node_modules -->
  <script src="build/vendor.js"></script>

  <!-- The main bundle js is generated during the build process -->
  <script src="build/main.js"></script>