#hformLogin{
	margin-top: 10%;
}
#formLogin #btnEntrar{
	margin-top: 20%;
}

#formLogin #divMensagem p{
	text-align: center;
}

#divLogo img{
	margin-top: 10%;
	margin-bottom: 10%;
	width: 100%;
	height: 100%;
}
#divLogo{
	margin: 0 auto;
	width: 60%;
}

.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.rowevento{
	padding-right: 5%;
}

.nav-view-agenda{
	margin-top: 25%;
}

.footer1 {
    background: #F8F8F8;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #969696;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

.searchfield{
    height: 10%;
}

.searchfield input{
    height: 100%;
}

b, strong {
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open sans", Helvetica, Arial;
}

h5, .h5 {
    font-size: 14px;
}

.div-lista-artigo .btn-group-justified .btn
{
    border-radius: 3px;
    display: inline-block;
}

.div-lista-artigo .btn-actions{
    display: table;
    width: 100%;
    margin-top: 20px;
}

.div-lista-artigo .btn-actions .btn{
    width: initial;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 10px;
}

.div-lista-artigo .div-info{
    display:table;
    width: 100%;
    border: 1px solid #D6D6D6;
}

.div-lista-artigo .div-info div div{
    float: left;
    width: 50%;
    padding-left: 10px;
    border-right: 1px solid #D6D6D6;
}
.div-lista-artigo .div-info div div:first-child {
       border-top: 1px solid #D6D6D6;
}

.div-lista-artigo .div-info div div:last-child {
    border-top: 1px solid #D6D6D6;
}

.div-lista-artigo .div-info span{
    display: block;
}

.div-lista-artigo .div-info strong{
    margin-bottom:  10px;    
    display: block;
}


.div-lista-artigo .events,
.div-lista-artigo .div-artigo{
    margin-bottom: 10px; 
    padding-bottom: 15px;
    border-bottom: 1px dashed #D6D6D6;
}

.div-lista-artigo .events:last-child,
.div-lista-artigo .div-artigo:last-child{
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
} 

.div-lista-artigo .events{
    display: table;
    width: 100%;
}
.div-lista-artigo .events .div-action{
    margin-top: 20px;
}

.div-lista-artigo .events .div-action p{
    display: none;
}

.div-lista-artigo .events.expired .div-info{
    opacity: 0.7;
}

.div-lista-artigo .events.expired .div-action p{
    display: block;
}

.div-lista-artigo .events.expired .div-action .btn{
    display: none !important;
}


.div-resume{
    white-space:normal !important    
}

.btn {
    padding: 10px 40px;
    font-weight: bold;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    font-size: 16px;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: 0 0;
}

.btn-action, .btn-primary {
    color: #FFEFD7;
    background-image: -webkit-linear-gradient(top, #FF9B22 0%, #FF8C00 100%);
    background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9B22', endColorstr='#ffFF8C00', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 0 none;
}

.itemArtigo{
    font-size: 1em;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: 98%;
    margin: 8px auto;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.div-detalhe-artigo .instituicao {
    font-size: 12px;
    display: block;
    margin: 3px 0 0 5px;
    line-height: 1em;
}


.div-detalhe-artigo h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-left {
    text-align: left;
}


.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.centralizar{
    margin-bottom: 10px;
    text-align: center;
}

.imgpalestrantewrapper{
    width: 20%;
    margin: 0 auto;
    float: left;


}

.imgpalestrantewrapperdetalhe{
    width: 50%;
    margin: 0 auto;

}

.imgpalestrantewrapper img,.imgpalestrantewrapperdetalhe img{
    width: 100%;
    border-radius: 100%;
}

.nomePalestrante{
    text-align: center;
    font-size: 1.5em;
}

.palestrantedetalheinfo{
    text-align: center;
}

.info-palestrante{
    width: 70%!important;
    float: left;
    margin-top: 4%;
    
    text-align: left;
    margin-left: 1em;

}

.info-palestrante .palestrantenome{
    font-size: 100%;
}

.info-palestrante .palestrantefiliacao{
    font-size: 90%;
}

.itemPalestrante a:link {
    color: #444;
}

/* visited link */
.itemPalestrante a:visited {
    color: #444;
}

/* mouse over link */
.itemPalestrante a:hover {
    color: #444;
}

/* selected link */
.itemPalestrante a:active {
    color: #444;
}


.itemnotificacao{
    word-wrap: break-word;
    white-space: normal;
}

.bigselect{
    width: 90%;
}

.falseLink{
    color:#428bca !important;
}
