<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
    

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
        
        

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/magenda">
          Minha Agenda
        </ion-item>
        <ion-item menu-close href="#/app/notificacoes" ng-click="recarregar()">
          Notificações
        </ion-item>
        <ion-item menu-close href="#/app/palestrantes">
          Palestrantes
        </ion-item>
        <ion-item menu-close href="#/app/autores">
          Autores
        </ion-item>
        <ion-item menu-close href="#/app/buscarartigos">
          Artigos
        </ion-item>
        <ion-item menu-close href="#/app/buscarartigosareatema">
          Área/Tema
        </ion-item>
        <ion-item menu-close href="#/app/restaurantes">
          Restaurantes
        </ion-item>
        <ion-item menu-close href="#/app/sobre">
          Sobre
        </ion-item>
        <ion-item menu-close ng-click="deslogar()">
          Sair
        </ion-item>

       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
