<ion-view cache-view="false" view-title="Notificações" >

    <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

  <ion-list>

  
  <ion-item ng-repeat="notificacao in listaNotificacoes">

    <div class="itemnotificacao" ng-bind-html="conteudoItem = '<strong>'+notificacao.data_envio +'</strong> - '+ notificacao.texto" ng-click="openNotif(notificacao.texto)">
    </div>
    
  </ion-item>
</ion-list>
    
  </ion-content>
</ion-view>
