<ion-view view-title="Sobre">
  

  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

      <div class="list list-inset" >
  <div ng-bind-html="conteudosobre">

  </div>
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14632.35454369382!2d-46.674068366731056!3d-23.529314243355227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5803479dbaaf%3A0xc0fa69b0b1240a78!2sAv.+Francisco+Matarazzo%2C+364+-+%C3%81gua+Branca%2C+S%C3%A3o+Paulo+-+SP%2C+01156-000%2C+Brasil!5e0!3m2!1spt-BR!2scl!4v1534510599259" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe></p>
  </div>
  </ion-content>
</ion-view>
