<ion-view view-title="Agenda">
  <ion-nav-bar class="bar-dark">
    

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
        <ion-nav-buttons side="right">
         
        </ion-nav-buttons>

    </ion-nav-bar>

  <ion-content>

  </ion-content>
</ion-view>
