<ion-view view-title="Detalhe">
  

<ion-nav-bar class="bar-dark">
    

      <ion-nav-back-button>
  </ion-nav-back-button>
       
        

    </ion-nav-bar>



  <ion-content>
 	<div class="list list-inset">
<div class="div-detalhe-artigo">
        <div class="col-sm-offset-3 col-sm-9 maincontent">  
		<h5 class="text-center"><strong>{{detalheArtigo.titulo}}</strong></h5>
        </div>
        <br>
        <div class="col-sm-offset-3 col-sm-9 maincontent div-resume">
            <label class="item item-input">
                    <textarea rows="4" cols="50" ng-model="data.txtPergunta" placeholder="Insira sua pergunta.">

                    </textarea>
            
              </label>
            <br>
            <br>
            <div class="text-center">
                <a class="btn btn-primary" ng-click="enviarPergunta(detalheArtigo.codigo_artigo,data.txtPergunta)">Enviar Pergunta</a>
               
                     
            </div>                  
                                </div> 

                                  
        </div>
    </div>
	</div>
      		</ion-nav-view>
  </ion-content>
</ion-view>
